.swiper-prices {
  text-align: start;
}

:root {
  --swiper-theme-color: #b5b6bc;
}

.prices-showcase {
  margin-top: 15px;

  .swiper {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    &__header {
      background-color: $swiper-header-color;
      margin-bottom: 16px;
    }

    &__info {
      font-family: "TTLakes", sans-serif;
      font-weight: 200;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      margin: 0;
      padding: 16px 0;
      color: #7e7e82;
      text-transform: uppercase;
      box-shadow: $swiper-header-color 50vw 0px, $swiper-header-color -50vw 0px;
    }
  }

  &__pricing-info{
    margin-top: 0;
    max-width: 421px;
    font-size: 14px;
  }

  &__commercial-order{
    font-weight: 600;
    
    svg{
      margin-left: 8px;
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

    &__content {
      background: #ffffff;
      display: flex;
      flex-direction: column;
      width: 260px;
      height: 200px;
      min-width: 260px;
      border-radius: 10px;
      border: 1px solid #eaeaea;
      box-sizing: border-box;
      padding: 16px;
      justify-content: space-between;
      text-align: start;
      font-size: 14px;
      font-weight: 200;

      h3 {
        margin: 0;
        color: #7e7e82;
        font-weight: 200;
      }

      p {
        margin: 0;
        align-self: flex-start;
      }
    }

    &__button {
      box-sizing: border-box;
      padding: 4px 40px 4px 12px;
      background-color: #ff3e79;
      border-radius: 20px;
      position: absolute;
      width: 119px;
      height: 32px;
      text-align: start;
      font-size: 12px;
      color: #ffffff;
      text-transform: uppercase;
      transform: translate(105px, 133px);
      

      &::after{
        content: "";
        display: block;
        position: absolute;
        width: 7px;
        height: 10px;
        background: url('./blocks/swiper-prices/img/dropdown.svg') no-repeat center center;
        transform: translate(85px, -13px) scale(1);
        transition: all 0.1s ease-in-out;
      }

      &:hover{
        background-color: #cd305f;
        cursor: pointer;
      }

      &:active{
        
        &::after{
          content: "";
          transition: all 0.1s ease-in-out;
          transform: translate(85px, -13px) scale(1.5);
        }
      }
    }
  }

  .swiper-pagination {
    position: static;
  }

  .hidden {
    display: none;
  }

  .swiper-container {
    padding: 0;
    justify-content: center;
    display: none;
  }

  .swiper-pagination {
    margin: 4px 0px;
  }

  .swiper-pagination-bullet {
    margin: 0 4px;
  }

  .swiper__show-more-button--active::before {
    bottom: -2px;
    left: 4px;
    transform: rotate(180deg);
  }

  .swiper-services {
    &::before {
      content: "";
      position: absolute;
      height: 72px;
      width: 20px;
      background-image: linear-gradient(to right, #f8f8f8, #f8f8f800);
      left: 0;
      top: 0;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      height: 72px;
      width: 20px;
      background-image: linear-gradient(to left, #f8f8f8, #f8f8f800);
      right: 0;
      top: 0;
      z-index: 2;
    }
  }

  .swiper-container {
    display: block;
  }

  .swiper-wrapper {
    justify-content: start;
    flex-wrap: nowrap;
    gap: 0;
  }

}

.swiper-prices {
  display: none;
}

@media screen and (max-width: $mobile-scroller-screen) {
  .swiper-prices {
    display: block;

    &::before {
      content: "";
      position: absolute;
      height: 205px;
      width: 20px;
      background-image: linear-gradient(to right, #f8f8f8, #f8f8f800);
      left: 0;
      top: 0;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      height: 205px;
      width: 20px;
      background-image: linear-gradient(to left, #f8f8f8, #f8f8f800);
      right: 0;
      top: 0;
      z-index: 2;
    }
  }
}
