.swiper-services{
    text-align: start;
}

:root {
  --swiper-theme-color: #b5b6bc;
}

.services-showcase {
  margin-top: 15px;

  .swiper {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    &__header {
      background-color: $swiper-header-color;
      margin-bottom: 16px;
    }

    &__info {
      font-family: "TTLakes", sans-serif;
      font-weight: 200;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      margin: 0;
      padding: 16px 0;
      color: #7e7e82;
      text-transform: uppercase;
      box-shadow: $swiper-header-color 50vw 0px, $swiper-header-color -50vw 0px;
    }

    &__show-more-button {
      font-family: "TTLakes", sans-serif;
      font-weight: 400;
      margin: 16px 0;
      border: none;
      background-color: #ffffff00;
      align-items: center;
      display: flex;
      padding: 4px;
      align-self: flex-start;
      padding-right: 10px;
      margin-left: 5px;
      border-radius: 5px;
      transform: scale(1);
      transition: transform 0.1s ease-out;

      &:active {
        transform: scale(0.95);
      }

      &:focus {
        outline: solid 2px #b8ffec;
        background-color: #ffffff;
      }

      &:hover {
        background-color: #eeeeee;
        cursor: pointer;
      }

      &::before {
        content: "";
        display: block;
        background: url(./blocks/scroller/img/ExpandText.svg) no-repeat;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        position: relative;
        bottom: 3px;
        left: 0px;
      }
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    transform-origin: top center;
    transition: transform 0.5s;
    transform: scale(1);

    &:hover {
      transform: scale(1.05);
    }

    &__content {
      background: #ffffff;
      display: flex;
      width: 240px;
      height: 160px;
      border-radius: 10px;
      border: 1px solid #eaeaea;
      box-sizing: border-box;
      padding: 16px;
      justify-content: space-between;
      align-items: center;
      text-align: start;

      p{
        font-size: 16px;
        margin: 0;
        align-self: flex-start;
      }
    }

    &__image {
      width: auto;

      img {
        display: block;
        max-height: 50px;
        max-width: 130px;
        object-fit: cover;
      }
    }

    &__site-link {
      height: 40px;
      border: none;
      background: none;
      transition: all 0.33s ease-in-out;
      align-self: flex-end;

      svg {
        min-width: 40px;
        min-height: 40px;
        transition: all 0.33s ease-in-out;
        transform: scale(1);
      }

      &:hover svg {
        transform: scale(1.1);
      }
    }
  }

  .swiper-pagination {
    position: static;
  }

  .hidden {
    display: none;
  }

  .swiper-services {
    display: flex;
    flex-direction: column;
    width: 1056px;
  }

  .swiper-wrapper {
    flex-wrap: wrap;
    gap: 16px 32px;
  }

  .swiper-container {
    padding: 0;
    justify-content: center;
  }

  .swiper-pagination {
    margin: 4px 0px;
  }

  .swiper-pagination-bullet {
    margin: 0 4px;
  }

  .swiper__show-more-button--active::before {
    bottom: -2px;
    left: 4px;
    transform: rotate(180deg);
  }

  @media screen and (max-width: $desktop-screen) {
    .swiper-services {
      width: 720px;
    }

    .swiper-wrapper {
      gap: 16px 24px;
    }

    .swiper-slide__content {
      width: 224px;
    }
  }

  @media screen and (max-width: $mobile-scroller-screen) {
    .swiper-services {
      display: block;
    }

    .swiper__show-more-button {
      display: none;
    }

    .swiper-slide__content {
      min-width: 240px;
    }

    .swiper-services {
      &::before {
        content: "";
        position: absolute;
        height: 163px;
        width: 20px;
        background-image: linear-gradient(to right, #f8f8f8, #f8f8f800);
        left: 0;
        top: 0;
        z-index: 2;
      }

      &::after {
        content: "";
        position: absolute;
        height: 163px;
        width: 20px;
        background-image: linear-gradient(to left, #f8f8f8, #f8f8f800);
        right: 0;
        top: 0;
        z-index: 2;
      }
    }

    .swiper-container {
      padding: 0 16px;
    }

    .swiper-wrapper {
      justify-content: start;
      flex-wrap: nowrap;
      gap: 0;
    }

    .swiper-services {
      width: auto;
    }
  }
}
