body{
    background-color: #F8F8F8;
    font-family: "TTLakes";
}

.content-container{
    display: flex;
    max-width: 1439px;
    margin: 0 auto;

    @media screen and (max-width: $laptop-screen) {
        display: block;
    }
}

.main-container{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 32px;

    @media screen and (max-width: $laptop-screen) {
        padding: 0 16px;
    }

    @media screen and (max-width: $mobile-screen) {
        width: auto;
        padding: 0 16px;
    }
}

