$mobile-screen: 575px;
$laptop-screen: 1200px;
$desktop-screen: 1440px;
$mobile-scroller-screen: 760px;

$swiper-header-color: #fcfcfc;

// Button
$button-default-color: #ff3e79;
$button-active-color: #cd305f;

$text-button-background: #3DE7CA;


//text
$grey-text: #7e7e82;
$black-text: #000000;
$white-text: #ffffff;